.cart_holder {
    height: 100px;
    display: flex;
    background-color: white;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}

.cart_holder img {
    width: 80px;
    height: 80px;
}

.cart_item {
    position: relative;
    margin-left: 50px;
}

.cart_product_name {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 2px;
    cursor: pointer;
}

.cart_product_name:hover {
    color: brown;
}

.cart_product_price {
    margin-left: auto;
    font-size: 20px;
    font-weight: bold;
}

.cart_selection {
    display: flex;
    position: absolute; 
    bottom: 0;
    align-items: center;
}

.cart_selection a {
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
    color: darkcyan;
    cursor: pointer;
}

.cart_buy {
    width: 100px;
    margin-left: 25px;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: darkgoldenrod;
    border-radius: 4px;
    cursor: pointer;
}