.order_holder {
    background-color: white;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}

.order_date {
    font-size: 20px;
    font-weight: bold;
}

.order_detail {
    display: flex;
    margin-top: 20px;
}

.order_detail img {
    width: 100px;
    height: 100px;
}

.order_item {
    width: 100%;
    margin-left: 50px;
}

.order_item_text {
    font-size: 14px;
    margin-bottom: 10px;
}

.order_product_name {
    font-size: 18px;
    font-weight: bold;
    color: brown;
    padding-bottom: 10px;
    cursor: pointer;
}

.order_evaluation {
    display: flex;
}

.order_evaluation_option {
    width: 30px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.order_comment {
    width: 80%;
    height: 80px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
}

.order_comment_send {
    width: 100px;
    padding: 5px;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: darkgoldenrod;
    border-radius: 4px;
    cursor: pointer;
}